<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
<meta name="Robots" content="all"/> 
<style type="text/css">
body{font-size:16px;}
.waptitle{ border:#E9EEF1 1px solid; background:#F6F9E7;text-align:center;}
.title{text-align:center;} 
#wapbody{ max-width:380px; margin:1px auto;}
.waplist{ line-height:18px;}
li{list-style:none outside;padding:3px 5px;}
a{ color:#3366CC;text-decoration: none}
a:hover{ color:#225588;background:#aacbee;text-decoration:none;}
.pagenavi{margin-top:8px;}
.copyright{text-align:center;margin-top:10px;}
</style>
<title>{{ blog.title}} -- WAP</title> 
</head> 
<body id="wapbody">
<div class="title">{{blog.title}}</div>
{% block content %}{% endblock %}
<div class="copyright">
<script type="text/javascript"><!--
window.googleAfmcRequest = {
  client: 'ca-mb-pub-8325911329891044',
  ad_type: 'text_image',
  output: 'html',
  channel: '',
  format: '320x50_mb',
  oe: 'utf8',
  color_border: '336699',
  color_bg: 'FFFFFF',
  color_link: '0000FF',
  color_text: '000000',
  color_url: '008000',
};
//--></script>
<script type="text/javascript" 
   src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>


</div>
<div class="copyright">Powered by © <a href="http://iyouf.info/wap">Youflog</a></div>
<div class="copyright">报时 {% now "H:i" %}</div>
</body>
</html>