<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />

	<title>{{ blog.title|escape}}</title>
	<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
	<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
	<link rel="icon" type="image/ico" href="/favicon.ico" />
	<!-- style START -->
	<link rel="stylesheet" href="/static/404.css" type="text/css" media="screen" />
	<!-- style END -->

</head>

<body>

<div id="container">
	
	<div id="talker">
		<img width="96" height="96" class="avatar avatar-96 photo" src="http://0.gravatar.com/avatar/490cf262668eebb0f0f1a50d9d48d702?s=96&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D96&amp;r=G" alt="">
	</div>
	<h1>传说中的500页面</h1>
	<div id="notice">
		<p>Welcome to this customized error page. You've reached this page because you've clicked on a link that does not exist. This is probably our fault... but instead of showing you the basic '404 Error' page that is confusing and doesn't really explain anything, we've created this page to explain what went wrong.</p>
		<p>You can either (a) click on the 'back' button in your browser and try to navigate through our site in a different direction, or (b) click on the following link to go to homepage.</p>
		<p>请联系:<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqmc5s94ndsep24odtaj039nereiffdjje7rtcgjal7jutt1k2vr0fla4d1hm25ojf0mcpuutbor02j8v00iderahq31pf3t8k1eldfp4l5fmttkop1sj2kukt5ltu1u5cbgmuue8ehq0np97d0lhgj4rootijgd22&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe></p>
		<div class="back">
			<a href="http://{{ site.domain }}/">Back to homepage &raquo;</a>
		</div>
	</div>
</div>

</body>
</html>
