{% extends "themes/google/base.html" %}
{% load utils %}
{% block title %} {{entry.title|escape}} - {{blog.title|escape}} {% endblock %}
{% block content %}
	<div id="content" class="narrowcolumn">

		{%if entry%}
		<div class="post" id="post-{{entry.id}}">
		<h2>{{entry.title}}</h2>
			<div class="entry">
				{{entry.content|safe}}
				
				<p class="postmetadata">
				<small>{{entry.date|date:"Y/m/d H:i"}}&nbsp|&nbsp
				<a href="/{{entry.link|escape}}#comments">
				Comment:{{entry.commentcount}}
				</a>
				</small>
				</p>
			</div>
		</div>
		{% var object = entry %}
		{% include "themes/google/comments.html" %}
		{%endif%}
		
	</div>
{% include "themes/google/sidebar.html" %}
{% endblock %}