{% load sidebar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<meta name="description" content="{{blog.sitedescription}}" />
<meta name="Keywords" content="{{blog.sitekeywords}}" />
<link rel="pingback" href="{%url xmlrpc %}" />
<link rel="stylesheet" href="/themes/{{blog.theme_name}}/static/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/{{blog.theme_name}}/static/rtl.css" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="{{blog.title}} RSS Feed" href="/feed" />
<link href="/static/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="/themes/{{blog.theme_name}}/static/comment.js"></script>
<style type="text/css" media="screen">
#page { background: url("/themes/{{blog.theme_name}}/static/images/kubrickbgwide.jpg") repeat-y top; border: none; }
</style>

</head>
<body onload="prettyPrint()">
	<div id="menu">
		<div id="menu1">
			<li><a href="/">Home</a>&nbsp;</li>
			{% get_menus %}
		</div>
		<div id="menu2">
		<a href="/feed"><img src="/themes/{{blog.theme_name}}/static/images/rss.gif" alt="Rss Feed"/></a>
		</div>
	</div>

<div id="searchbar">
	<table>
	  <tr>
	    <td ><a href="http://{{site.domain}}"><img src="/themes/{{blog.theme_name}}/static/images/logo.png" alt="{{blog.title}}"/></a></td>
	    <td>
	    	{{blog.subtitle}}
	    </td>
	  </tr>
	</table>
</div>
<div id="bgtop" />

<hr />
{% block content %}{% endblock %}

<hr />

<div id="footer">
<div id="rp">

</div>

<div id="ancm">
	<p align="center">
		{{blog.title}} is proudly powered by
		<a href="http://iyouf.info/">Youflog</a> 
		<br />
<a href="http://www.kenengba.com/post/521.html">Google Addicted Wordpress Theme</a> by <a href="http://www.kenengba.com">kenengba.com</a>.
	</p>
</div>

</body>
</html>
