<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{blog.title}} / Login</title>
<link type="text/css" rel="stylesheet" media="screen" href="/static/login.css">
</head>
<body>

	<div id="page-content">
		<div id="login-page">
		{% if messages %}
	<div id="login_error">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
	<br>
	</div>
{% endif %}
			<form id="new_user_session" class="new_user_session" method="post" action="">
			{% csrf_token %}
				<div id="normal-login">
					<p>
						<label for="user_session_login">UserName</label>
						<br/>
						<input type="text" size="30" name="user" id="user_session_login">
					</p>
					<p>
						<label for="user_session_password">Password</label><br>
      					<input type="password" size="30" name="password" id="user_session_password">
      				</p>
				</div>
				<p id="remember">
					<input type="checkbox" value="1" name="remember_me" id="user_session_remember_me" checked="checked">
					<label for="user_session_remember_me">Remember me</label>
				</p>
				<p>
					<input type="submit" value="Login" name="commit" class="button">
				 	<a class="new_password" href="#">Can't login?</a>
				</p>
			</form>
			<p id="signup">
				Not registered? 
				<a href="#">Signup here for free</a>!
			</p>
		</div>
	</div>
<script type="text/javascript">
try{document.getElementById('user_session_login').focus();}catch(e){}
</script>
</body>
</html>