{% extends "admin/base.html" %}
{% block content %}
<div class="wrap">
 <h2>工具</h2>
 <form id="file-form" action="/admin/upload_media" method="post" enctype="multipart/form-data">

<div id="html-upload-ui">
	<!-- <p id="async-upload-wrap">
	<input type="file" id="file" name="file"> 
		<input type="submit" value="上传" name="html-upload" class="button"> 
	</p> -->
	<p>
	 <a href="{%url backup_db%}">备份sqlite3数据库</a>
	</p>
	<p>
		<a href="{%url clear_cache%}">清空缓存</a>
	</p>
	<br class="clear">
	</div>
	</form>
</div>
{%endblock%}