small,
.small,
#footer,
#header .meta,
.post .meta,
#searchbox .operation,
#gotop,
#comments .date,
#comments .items,
#commentform .info,
#submit,
.widget h3,
#trackbacks #trackbacks_show,
#trackbacks #trackbacks_hide,
#pagenavi,
#postnavi,
#commentnavi,
.w3c,
.more-link,
#top,
#menubar li li a,
#subscribe li a,
#searchbox .button,
#searchbox .tip,
#trackbacks .header,
.commentlist .date,
.commentlist .items,
#cancel-comment-reply-link {
	font-size:12px;
}
#header .content #tagline{
	font-size:14px;
}
.w3c {
	font-size:12px;
}
#menubar li a {
	padding:5px 9px !important;
	padding:6px 9px;
}
*+html #menubar li a {
	padding:6px 9px !important;
}
.post .author a {
	margin-top:2px !important;
	margin-top:4px;
	margin-left:-2px !important;
	margin-left:-1;
	margin-right:8px !important;
	margin-right:6px;
}