{% load sidebar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
	
	<meta name="description" content="{{blog.sitedescription}}" />
	<meta name="Keywords" content="{{blog.sitekeywords}}" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="robots" content="all" />
	
	<!-- style START -->
	<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="/feed" />
	<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/static/style.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/static/chinese.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/static/recentcomments.css" type="text/css" media="screen" />
	<link href="/static/prettify.css" type="text/css" rel="stylesheet" />
	<!--[if IE]>
		<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/static/ie.css" type="text/css" media="screen" />
	<![endif]-->
	<!-- style END -->
		
	<!-- script START -->
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js "></script>
	-->
	<script type="text/javascript" src="/static/js/prettify.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.2.6.js"></script>
	<script type="text/javascript" src="/themes/{{ blog.theme_name }}/static/js/base.js"></script>
	<script type="text/javascript" src="/themes/{{ blog.theme_name }}/static/js/menu.js"></script>
	<!-- script END -->
	{% block head_block %}{% endblock %}

</head>

<body onload="prettyPrint()">

<!-- container START -->
<div id="container">
	<div id="top"></div>
	<div class="fixed"></div>
	<!-- header START -->
	<div id="header">
		<div class="content">
			<div id="title">
				<h1><a href="/" title="{{ blog.title}}">{{ blog.title}}</a></h1>
				<div id="tagline">{{ blog.subtitle|escape}}</div>
			</div>
			<div id="ads" style="float:right;">
			<div>
			<a href="http://wangnz.ce.ms/" target="_blank">
			<img src="/static/busi.png" title="上youtube，facebook，twitter，体验真正网络！" alt="" width="680" height="70"/>
			</a>
			</div>
			</div>
			<div class="fixed"></div>
		</div>
		<div class="meta">
			<ul id="menubar">
				<li class="home {%if ishome%}current_page_item{%else%}page_item{%endif%}">
					<a href="/" title="Home">Home</a>
				</li>
				{% get_menus %}
			</ul>
			<div id="subscribe" class="feed">
				<a rel="external nofollow" title="Subscribe to this blog..." class="feedlink" href="/feed">
					<abbr title="Really Simple Syndication">RSS</abbr> feed
				</a>
				<ul style="visibility: hidden; display: block; top: 115px;">
				<li><a href="/feed" title="Subscribe with Posts" rel="external nofollow">订阅文章</a></li>
				<li><a href="/feed/comments" title="Subscribe with Comments" rel="external nofollow">订阅评论</a></li>
				</ul>
			</div>
			<span id="copyright">
				© 2010-2021 {{ blog.title }}
			</span>
			<div class="fixed"></div>
			
		</div>
	</div>
	<!-- header END -->

	<!-- content START -->
	<div id="content">

		<!-- main START -->
		<div id="main">
		{% block content %}{% endblock %}
		</div>
		<!-- main END -->

		<!-- sidebar START -->
		{% include "themes/default/sidebar.html" %}
		<!-- sidebar END -->
		<div class="fixed"></div>
	</div>
	<!-- content END -->

	<!-- footer START -->
	<div id="footer">
		<div class="content">
			<span id="about">
			Powered by <a href="http://www.iyouf.info">dengmin</a>|
			Theme by <a href="http://www.neoease.com/">NeoEase</a>|
			<a href="/sitemap.xml">Sitemap</a>|
			<a href="/wap">WAP</a> |  <script language="javascript" type="text/javascript" src="http://js.users.51.la/3967919.js"></script>
<noscript><a href="http://www.51.la/?3967919" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3967919.asp" style="border:none" /></a></noscript>
			
			</span>
			<a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
			<div class="fixed"></div>
		</div>
	</div>
	<!-- footer END -->
</div>
</body>
</html>